@charset "UTF-8";

/* --------- reset css --------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
    margin: 0;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: "";
}

abbr, acronym {
    border: 0;
}

a {
    outline: none;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

* html .clearfix {
    zoom: 1;
}

/* IE6 */

*:first-child+html .clearfix {
    zoom: 1;
}

/* IE7 */

html, body, input, textarea, select, button {
    font-size: 14px;
    *font-size: small;
    *font: x-small;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

img {
    vertical-align: top;
}